<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>234930406912-dj904fcskh564rlvvur19mmknuhua4pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234930406912-dj904fcskh564rlvvur19mmknuhua4pq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>234930406912-peui4pj2so59ls6ltuhesgkf1phsf8f9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy2k_ghwu3NheFuwOhucngpzOcH9Gry1M</string>
	<key>GCM_SENDER_ID</key>
	<string>234930406912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reportallusa.landglide.Landglide</string>
	<key>PROJECT_ID</key>
	<string>landglide-94feb</string>
	<key>STORAGE_BUCKET</key>
	<string>landglide-94feb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:234930406912:ios:563a2b4e5554bd8e</string>
	<key>DATABASE_URL</key>
	<string>https://landglide-94feb.firebaseio.com</string>
</dict>
</plist>